<?xml version='1.0' encoding='utf-8'?>
<widget id="com.valiprod.blackJackB" version="0.0.1" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>BlackJackB</name>
  <description>
    Phonegap BlackJack
  </description>
  <author email="contact@valiprod.com" href="https://github.com/appfeel/admob-google-cordova">AppFeel</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="LogLevel" value="VERBOSE"/>
  <preference name="debuggable" value="true"/>
  <preference name="orientation" value="landscape" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="DisallowOverscroll" value="true" />
  
  <!--gap:plugin name="com.admob.google" source="plugins.cordova.io" /-->
  <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
  <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />

  
  
</widget>
