<?xml version='1.0' encoding='utf-8'?>
<widget id="com.valiprod.blackJackB" version="0.0.1" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>BlackJackB</name>
  <description>
    Phonegap BlackJack
  </description>
  <author email="contact@valiprod.com" href="https://github.com/appfeel/admob-google-cordova">AppFeel</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="LogLevel" value="VERBOSE"/>
  <preference name="debuggable" value="true"/>
  <preference name="orientation" value="landscape" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="DisallowOverscroll" value="true" />
  
  <gap:plugin name="com.admob.google" source="plugins.cordova.io" />
  <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
  <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
  <gap:plugin name="org.apache.cordova.device" source="plugins.cordova.io" />
<icon src="images/ios/icon57.png" />
<icon gap:platform="android" gap:qualifier="ldpi" src="images/android/icon-36x36.png" />
<icon gap:platform="android" gap:qualifier="mdpi" src="images/android/48x48.png" />
<icon gap:platform="android" gap:qualifier="hdpi" src="images/android/icon-72x72.png" />
<icon gap:platform="android" gap:qualifier="xhdpi" src="images/android/icon-96x96.png" />

<icon gap:platform="ios" height="57" src="images/ios/icon57.png" width="57" />
<icon gap:platform="ios" height="72" src="images/ios/icon72.png" width="72" />
<icon gap:platform="ios" height="114" src="images/ios/icon57@2x.png" width="114" />
<icon gap:platform="ios" height="144" src="images/ios/icon72@2x.png" width="144" />
<icon gap:platform="webos" src="images/ios/icon64x64.png" />



<gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="images/android/320x200.png" />
<gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="images/android/480x320.png" />
<gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="images/android/800x480.png" />
<gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="images/android/1280x720.png" />


<gap:splash gap:platform="ios" height="480" src="images/ios/480x320.png" width="320" />
<gap:splash gap:platform="ios" height="960" src="images/ios/960x640.png" width="640" />
<gap:splash gap:platform="ios" height="1136" src="images/ios/1136x640.png" width="640" />
<gap:splash gap:platform="ios" height="1024" src="images/ios/2048x1536.png" width="768" />
<gap:splash gap:platform="ios" height="768" src="images/ios/2208x1242.png" width="1024" />

<access origin="*" />



</widget>
