.clear{
    clear:both;
}
.clearfix:after{
	clear: both;
	content: '';
	display: block;
}
ul {
    clear: both;
}

.content {
   height: 100%;
   width:100%;
}


@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
   src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf');
}
html{
	height: 100%;
	width: 100%;
}
body {
  /*background-color: #40a040;*/
  font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 0;
  width: 100%;
 /* text-align: center;*/
}

#header
{
  /*background-color: #208020;
  border-color: #60c060 #006000 #006000 #60c060;
  border-style: solid;
  border-width: 1px;*/
  color: #ffffc0;
  /*margin-bottom: 1ex;*/
  padding: 4px 1em 0;
}

#header h2
{
	margin: 0px;
	padding: 0px;
}

.playingField {
  /*border-color:  #208020 #60c060 #60c060 #208020;
  border-style: solid;
  border-width: 1px;*/
  color: #000000;
  /*margin-bottom: 8px;*/
  /*padding: 4px;*/
  text-align: left;
  width:49%;
  display: inline-block;
  height: 100%;
}

.activeField {
  /*background-color: #60c060;
  border-color:  #006000 #90f090 #90f090 #006000;*/
}

.cardArea {
  min-height: 6em; 
  position: relative;
  margin-top:10%;
}

.textBox {
  /*background-color: #ffffc0;
  border-color:  #006000 #90f090 #90f090 #006000;
  border-style: solid;
  border-width: 1px;*/
  color: #ffffff;
  font-family: 'Lato-Black', Arial, Helvetica, sans-serif;
  font-size: 0.9375em;
  margin: 0 0 .5em;
  text-align: center;

}

.name {
  background-color: #183349;
  border-bottom: 1px solid rgba(215, 133, 99, 0.8);
  border-radius: 5px;
  -webkit-border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.35) inset, 4px 0 8px rgba(0,0,0,0.35) inset;
  color: #ffffff;
  padding: 1em .1em;
  text-shadow: -1px -1px 0 #62362c,  1px -1px 0 #62362c, -1px 1px 0 #62362c, 1px 1px 0 #62362c;
  
}

.result { color: #c00000; }

.dollars { color: #006000; }

.lost { color: #80b060; }

#controlsArea {
  /*margin-top: 0.5em;*/
    text-align: left;
    text-align: left;
}

#rulesBox {
  background-color: #60c060;
  border-color:  #006000 #90f090 #90f090 #006000;
  border-style: solid;
  border-width: 1px;
  display: none;
  margin: 1em auto 1em auto;
  padding: 0.5em 1em 0.5em 1em;
  text-align: left;
  width: 40em;
}

/******************************************************************************
* Playing card styles.                                                        *
******************************************************************************/

.card {
  background-image: url("../images/coverback.png");
  background-size: contain;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  overflow: hidden;
  position: absolute;
  width: 3.56em;
  height: 5.42em;
  z-index: 2;
}

.front {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
   -webkit-border-radius: 3px;
  color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
}

.red { color: #ff0000; }

.index {
	background-color: #fff;
	font-size: 0.6em;
    font-weight: bold;
    left: 0.25em;
    line-height: 1;
    padding: 0.05em 0.02em 0 0;
    position: absolute;
    text-align: center;
    top: 0.5em;
    z-index: 1;
}

.ace {
    font-size: 200%;
    left: 0.65em;
    line-height: 1;
    position: absolute;
    top: 0.8em;
}

.face {
  border: 1px solid #000000;
  position: absolute;
  left: 0.32em;
  top:  0.35em;
  width: 2.890625em;
  height: 4.65em;
}
.front div{
	font-family: 'Times New Roman', serif;

}
.spotA1 { position: absolute; left: 0.60em; top: 0.5em; }
.spotA2 { position: absolute; left: 0.60em; top: 1.5em; }
.spotA3 { position: absolute; left: 0.60em; top: 2.0em; }
.spotA4 { position: absolute; left: 0.60em; top: 2.5em; }
.spotA5 { position: absolute; left: 0.60em; top: 3.5em; }

.spotB1 { position: absolute; left: 1.55em; top: 0.5em; }
.spotB2 { position: absolute; left: 1.55em; top: 1.0em; }
.spotB3 { position: absolute; left: 1.55em; top: 2.0em; }
.spotB4 { position: absolute; left: 1.55em; top: 3.0em; }
.spotB5 { position: absolute; left: 1.55em; top: 3.5em; }

.spotC1 { position: absolute; left: 2.50em; top: 0.5em; }
.spotC2 { position: absolute; left: 2.50em; top: 1.5em; }
.spotC3 { position: absolute; left: 2.50em; top: 2.0em; }
.spotC4 { position: absolute; left: 2.50em; top: 2.5em; }
.spotC5 { position: absolute; left: 2.50em; top: 3.5em; }

/* face card */
.face ~ div.spotA1{
	left: 0.7em;
    top: 0.2em;
}
.face ~ div.spotC5{
	right: 0.7em;
    top: 3.8em;
}
.face ~ div.index{
	background-color: #fff;
}
.player-cont, .dealer-cont {
	
    float: right;
    /*overflow-y: hidden;*/
    width: 45%;
    /*border:4px solid #793e2e;*/
    border-radius:5px;
    padding:0.3em;
    background: url("../images/pattern-1.png") repeat #7d3d2f;
    border: 2px solid #0c2e4a;
    position: relative;
    height: 95%;
}
.player-cont:after,
.dealer-cont:after{
	border-left: 1px solid rgba(215,133,99,0.5);
    border-top: 1px solid rgba(215,133,99,0.5);
    border-radius: 5px 5px 0 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.player-det, .dealer-det {
    height: 74%;
    background: #c8d6db;
    border-radius:5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.player-det:after, .dealer-det:after{
	background-color: #eaf9ff;
	border-radius: 6px;
	top: 0;
	content: '';
	display: block;
	height: 97%;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.player0Bettxt{
	font-family: 'Lato-Black', Arial, Helvetica, sans-serif;
	display: none;
}
#player0Bet.dollars{
    line-height: 3;
    color: #000000;
    /*background:url("../images/coins.png") scroll 10% 50% no-repeat;*/
    font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
}
.player-det .bett{
	background-image: url("../images/coins.png");
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 0 50%;
	border-bottom: 1px solid #bfddf4;
	box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
	display:none;
	font-size: 0.825em; 
    margin: 0 0.25em;
    overflow: hidden;
    padding-left: 20px;
    text-align:left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#player0Bet.dollars strong{
	font-family: 'Lato-Black', Arial, Helvetica, sans-serif;
}
#player0Score, #dealerScore{
    /*margin-top: 15%;
    margin-bottom: 14px;*/
    margin-bottom: 0px;
    font-size: 2.125em;
    color: #c72b2b;
    /*background: -webkit-linear-gradient(#77bb55,#4fa02e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    text-shadow: 3px 2px 0 #c8d6db;
		/*	content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			background:    -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			background:     -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			background:      -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			background:         linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);*/
    
}
#player0points, #dealerpoints{
	color: #183349;
   font-family: 'Lato-Black', Arial, Helvetica, sans-serif;
   font-size: 0.75em;
}
#player0points span, #dealerpoints span{
    display:none;   
}
#increase, #decrease{
	background-color: #ecfaff;
	background-position: 50% 50%;
    background-size: 25px auto;
    background-repeat: no-repeat;
	border: 1px solid #c8e1ea;
	box-shadow: 0 2px 2.5px rgba(112, 166, 186, 0.2) inset,  2px 0 2.5px rgba(112, 166, 186, 0.2) inset,  0 2.5px 2.5px rgba(112, 166, 186, 0.2) inset,  -2.5px 0 2.5px rgba(112, 166, 186, 0.2) inset,
	0 1px 0 #fff,	1px 0 0 #fff, -1px 0 0 #fff,	0 -1px 0 #fff;
    display: block;
    float: left;
    cursor: pointer;
    width: 45%;
    height: 40px;
    /*margin-left: 12%;*/
}
#increase{
    background-image:url("../images/bet-up.png");
}
#decrease{
    background-image:url("../images/bet-down.png");
}
form{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    height: 100%;
    padding-bottom: 32px;
}

.credits-def {
  font-size: 0.8125em; 
  float: right;
  margin-right: 0.2em;
}
.credits-def div {
    text-align: left;
    margin-bottom: 0;
    color: #ffffff;
    padding: 0 0 0 20px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.15), 1px -1px 0 rgba(0,0,0,0.15), -1px 1px 0 rgba(0,0,0,0.15), 1px 1px 0 rgba(0,0,0,0.15);
}
.credits-def span.creditstxt,
.credits-def span.defaulttxt{
	 font-family: 'Lato-Black', Arial, Helvetica, sans-serif;
}
.credits-def .textBox{
	font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
	color: #fff;
}
.credits-def div.cred, .credits-def div.defbet{
    background-image: url('../images/coins2.png');
    background-position: 0 50%;
    background-size: 13px 10px;
    background-repeat: no-repeat;
}
.credits-def div.defbet{
    background-image: url('../images/default-bet.png');
}
#split,#surrender,#player0Result{
    height:0;
    width:0;
    display:none;
}
.content-top,#controlsArea{
    display:block;
}
.content-top{
    /*min-height: 210px;*/
   /* height: 84.5%;*/
    background: url('../images/pattern2.png') repeat;
    height: 89%;
    padding: 0.5em;
    
}
#controlsArea{
    /*line-height: 24pt;*/
    background:url('../images/bottompattern.png') repeat;
    border-top: 4px solid rgba(225,112,83, 0.7);
    box-shadow: 0 -2px 0 #072e4d, 0 -6px 10px rgba(0,0,0,0.3);
    padding: 0.4em 0;
}
#dealerScore {
    margin-top: 1em;
}
#controlsArea input.button {
    background: rgb(61,149,210); 
	background: -moz-linear-gradient(top,  rgba(61,149,210,1) 0%, rgba(33,102,150,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,149,210,1)), color-stop(100%,rgba(33,102,150,1))); 
	background: -webkit-linear-gradient(top,  rgba(61,149,210,1) 0%,rgba(33,102,150,1) 100%); 
	background: -o-linear-gradient(top,  rgba(61,149,210,1) 0%,rgba(33,102,150,1) 100%);
	background: -ms-linear-gradient(top,  rgba(61,149,210,1) 0%,rgba(33,102,150,1) 100%); 
	background: linear-gradient(to bottom,  rgba(61,149,210,1) 0%,rgba(33,102,150,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d95d2', endColorstr='#216696',GradientType=0 ); 
	border: 1px solid #461b11;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3), 1px 2px 0 rgba(255,255,255,0.3) inset, 0 0 9px rgba(0,0,0,0.35) inset;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	font-size: 1.09375em;
	padding: 0.2em 0.5em;
	text-shadow: 0 2px 0 rgba(0,0,0,0.2);
}
#controlsArea input.button#deal {
	background: rgb(219,89,89); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(219,89,89,1) 0%, rgba(177,25,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,89,89,1)), color-stop(100%,rgba(177,25,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(219,89,89,1) 0%,rgba(177,25,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(219,89,89,1) 0%,rgba(177,25,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(219,89,89,1) 0%,rgba(177,25,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(219,89,89,1) 0%,rgba(177,25,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db5959', endColorstr='#b11919',GradientType=0 ); /* IE6-9 */

}
#controlsArea input.button[disabled=disabled], #controlsArea input.button[disabled]{
	background: rgba(33,102,150, 0.5); /* Old browsers */
	
	background: -moz-linear-gradient(top,  rgba(33,102,150,1) 0%, rgba(61,149,210,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,102,150,1)), color-stop(100%,rgba(61,149,210,1))); 
	background: -webkit-linear-gradient(top,  rgba(33,102,150,1) 0%,rgba(61,149,210,1) 100%); 
	background: -o-linear-gradient(top,  rgba(33,102,150,1) 0%,rgba(61,149,210,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(33,102,150,1) 0%,rgba(61,149,210,1) 100%); 
	background: linear-gradient(to bottom,  rgba(33,102,150,1) 0%,rgba(61,149,210,1) 100%); 
	opacity: 0.8;
	-webkit-opacity: 0.8; 
	box-shadow: none;
}
#controlsArea input.button#deal[disabled=disabled], #controlsArea input.button#deal[disabled]{
	background: rgb(177,25,25); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(177,25,25,1) 0%, rgba(219,89,89,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(177,25,25,1)), color-stop(100%,rgba(219,89,89,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(177,25,25,1) 0%,rgba(219,89,89,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(177,25,25,1) 0%,rgba(219,89,89,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(177,25,25,1) 0%,rgba(219,89,89,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(177,25,25,1) 0%,rgba(219,89,89,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b11919', endColorstr='#db5959',GradientType=0 ); /* IE6-9 */

	
	opacity: 0.8;
	-webkit-opacity: 0.8;
	box-shadow: none;
}
#inc-dec{
	bottom: 11px;
	color: #183349;
	font-size: 0.8em;
	font-family: 'Lato-Black', Arial, Helvetica, sans-serif;
	left: 0;
    position: absolute;
    padding: 0.25em 0.25em 0;
    right: 0;
    text-align:center;
    text-transform: uppercase;
    z-index: 2;
}
#inc-dec .inc-dec-txt{
	margin-bottom: 0.2em;
}
#inc-dec input:last-of-type {
   float: right;
}
#controlsArea input.btn#infos, #controlsArea input.btn#newgame   {
    background-color: transparent;
    background-image: url("../images/info.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 30px auto;
    border: medium none;
    box-shadow: none;
	padding: 0.5em 1em;
}
#controlsArea input.btn#newgame {
    background-image: url("../images/new.png");
}
.btn-wrappers{
	float: left;
	margin: 0.5em 0 0 0;
}
#rulesBox1{
	background-color: rgba(24,51,73,0.8);
	color: #fff;
    display:none;
    height:90%;
    overflow-y:scroll;
    padding: 15px 15px 15px;
    left: 50%;
    width: 250px;
}
#rulesBox1 .b-close{
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px
}
/* Media Queries */
@media only screen and  (max-device-width : 1366px)  {
	.content{
		font-size: 1.7em;
	}
	.name{
		font-size: 1.2em;	
	}
	.player-det, .dealer-det{
		height: 80%;
	}
	#inc-dec .inc-dec-txt{
		margin-bottom: 0.5em;
	}
	#increase, #decrease{
		height: 70px;
		background-size: 40px auto;
	}
	.player-det:after, .dealer-det:after{
		height: 98%;
	}
	#inc-dec{
		bottom: 17px;
	}
	.card{
		font-size: 1.5em;	
	}
	.player-det .bett{
		background-size: 34px auto;
		padding-left: 45px;
	}
	#player0Score, #dealerScore{
		margin-top: 1em;
	}
	form{
		padding-bottom: 50px;
	}
	#controlsArea input.button{
		padding: 0.2em 0.8em;
	}
	.credits-def div.cred, .credits-def div.defbet{
		background-size: 34px auto;
		padding: 0 0 3px 45px;
	}
	#player0points, #dealerpoints{
		font-size: 1em;
	}
	#rulesBox1{
		height: 94%;
		width: 600px;
	}
}
@media only screen and  (max-device-width : 1280px)  {
	#controlsArea input.button{
		float: left;
	}
	#controlsArea input.btn#infos, 
	#controlsArea input.btn#newgame{
		background-size: 45px auto;	
		height: 45px;
		padding: 0em 1em;
	}
	.front div{
		font-family: 'Times New Roman', serif;
		font-size: 0.95em;
		line-height: 1.2;
	}
	.front div.index{
		font-size: 0.5em;
	}
	.content{
		font-size: 1.5em;
	}
	.credits-def div.cred, .credits-def div.defbet {
    	background-size: 30px auto;
    	padding: 0 0 3px 35px;
	}
	.btn-wrappers{
		margin: 0.6em 0 0.6em;
	}
	.credits-def{
		margin-top: 0.5em; 	
	}
	/* face card */
	.face ~ div.spotA1{
		left: 0.9em;
		top: 0.85em;
		font-size: 0.65em;
		z-index: 5;
	}
	.face ~ div.spotC5{
		right: 0.5em;
		top: 6.5em;
		font-size: 0.65em;
		left: 3.7em;
	}
	.front div.ace{
		font-size: 170%;
		left: 0.45em;
		top: 1.1em;
	}
	#rulesBox1{
		height: 94%;
		width: 600px;
	}
}
@media only screen and  (max-device-width : 1024px)  {
	.content{
		font-size: 1.3em;
	}
	.card{
		font-size: 1.3em;
	}
	#inc-dec{
		font-size: 1em;
	}
	.player-cont, .dealer-cont{
		height: 92%;
		font-size: 0.9em;
	}
	.player-det:after, .dealer-det:after{
		height: 99%;
	}
	#increase, #decrease{
		height: 56px;
	}
	#controlsArea input.button{
		padding: 0.3em 0.7em;
	}
	.player-det .bett{
		background-size: 30px auto;
		padding-left: 30px;
	}
	#player0Score, #dealerScore{
		font-size: 2.5em;
	}
	.credits-def{
		margin-top: 0.5em;
		font-size: 0.9em;
	}
	/* face card */
	.face ~ div.spotA1{
		font-size: 0.8em;
		left: 0.87em;
	    top: 0.7em;
	}
	.face ~ div.spotC5{
		font-size: 0.8em;
		left: auto;
		right: 0.35em;
	    top: 5em;
	}
	.ace{
		left: 0.45em;
	}
	#rulesBox1{
		height: 94%;
		width: 600px;
	}
}


@media only screen and  (max-device-width : 736px){
	.content{
		font-size: 1em;
	}
	.name{
		font-size: 1em;
	}
	.player-det, .dealer-det{
		height: 79%;
	}
	#player0Score{
		margin-top: 0.5em;
	}
	.card{
		font-size: 1.2em;
	}
	#increase, #decrease{
		background-size: 25px auto;
		height: 40px; 
	}
	.player-det:after, .dealer-det:after{
		height: 98%;
	}
	#inc-dec{
		bottom: 11px;
	}
	.player-det .bett{
		background-size: 25px auto;
		padding-left: 30px;
	}
	.player-cont, .dealer-cont{
		font-size: 1em;
	}
	#controlsArea input#infos.btn, 
	#controlsArea input#newgame.btn{
		background-size: 40% auto;
		margin-top: -5px;
		width: 50px;	
	}
	.credits-def div.cred, 
	.credits-def div.defbet{
		background-size: 20px auto;
		padding: 0 0 4px 25px;
	}
	#controlsArea input#infos.btn, 
	#controlsArea input#newgame.btn{
		background-position: 50% center;	
	}
	#controlsArea input.button{
		margin-top: -0.2em;
	}
	.credits-def{
		font-size: 1em;
	}
	.face ~ div.spotA1{
		font-size: 0.8em;
		left: 0.9em;
	    top: 0.7em;
	}
	.face ~ div.spotC5{
		font-size: 0.8em;
		right: 0.3em;
	    top: 4.9em;
	}
	#rulesBox1{
		height: 90%;
		width: 480px;
	}
	
}

@media only screen and (max-device-width : 667px){
	.player-det, .dealer-det{
		height: 77%;
	}
	.card{
		font-size: 1.4em;
	}
	#player0Score {
    	margin-top: 0.1em;
	}
}
@media only screen and (max-device-width : 640px){
	
	.player-det, .dealer-det {
		height: 73%;
		font-size: 0.8em;
	}
	.btn-wrappers {
		margin: 0.2em 0 0.6em;
	}
	#controlsArea input#infos.btn, #controlsArea input#newgame.btn{
		margin-top: -0.25em;
	}
	#increase, #decrease {
		background-size: 20px auto;
	}
	#controlsArea input.button{
		margin-top: 0.2em;
	}
	.credits-def{
		margin-top: 0;
	}
	.credits-def{
		font-size: 1em;
	}
	.front div{
		font-size: 1.05em;
	}
	.face ~ div.spotA1 {
		font-size: 0.9em;
		left: 0.7em;
		top: 0.5em;
	}
	.face ~ div.spotC5 {
		font-size: 0.9em;
		right: 0.5em;
		top: 4.2em;
	}
	.front div.ace {
		font-size: 200%;
		left: 0.57em;
		top: 0.75em;
	}
	#rulesBox1{
		height: 90%;
		width: 480px;
	}
}
@media only screen and  (max-device-width : 568px){
	.iOS .player-det, .dealer-det {
		height: 80%;
	}
	.iOS .card {
    	font-size: 1.45em;
	}
	.iOS .front div.index{
		font-size: 0.2em;
		left: 0.25em;
	}
	.iOS .front div{
		background-color: #fff;
		font-size: 1em;
	}
	.iOS .front div.ace {
		font-size: 200%;
		left: 0.6em;
		top: 0.8em;
	}
	
	.iOS .face ~ div.spotA1 {
		font-size: 0.9em;
		left: 0.8em;
		top: 0.6em;
	}
	.iOS .face ~ div.spotC5 {
		font-size: 0.9em;
		left: auto;
		right: 0.5em;
		top: 4.4em;
	}
	.iOS .spotA1 { position: absolute; left: 0.60em; top: 0.5em; }
	.iOS .spotA2 { position: absolute; left: 0.60em; top: 1.5em; }
	.iOS .spotA3 { position: absolute; left: 0.60em; top: 2.0em; }
	.iOS .spotA4 { position: absolute; left: 0.60em; top: 2.5em; }
	.iOS .spotA5 { position: absolute; left: 0.60em; top: 3.5em; }
	
	.iOS .spotB1 { position: absolute; left: 1.55em; top: 0.5em; }
	.iOS .spotB2 { position: absolute; left: 1.55em; top: 1.0em; }
	.iOS .spotB3 { position: absolute; left: 1.55em; top: 2.0em; }
	.iOS .spotB4 { position: absolute; left: 1.55em; top: 3.0em; }
	.iOS .spotB5 { position: absolute; left: 1.55em; top: 3.5em; }
	
	.iOS .spotC1 { position: absolute; left: 2.50em; top: 0.5em; }
	.iOS .spotC2 { position: absolute; left: 2.50em; top: 1.5em; }
	.iOS .spotC3 { position: absolute; left: 2.50em; top: 2.0em; }
	.iOS .spotC4 { position: absolute; left: 2.50em; top: 2.5em; }
	.iOS .spotC5 { position: absolute; left: 2.50em; top: 3.5em; }

	.iOS .btn-wrappers{
		margin: 0.3em 0 0.6em 0.2em;
	}
	#rulesBox1{
		height: 90%;
		width: 400px;
	}
	.iOS #controlsArea{
		font-size: 1.15em;
	}
	.iOS #controlsArea input#infos.btn, 
	.iOS #controlsArea input#newgame.btn{
		background-position: 50% 75%;
	}
}
@media only screen and (max-device-width : 480px){ 
	.content{
		font-size: 0.85em;
	}
	.name{
		font-size: 0.9375em;
	}
	#inc-dec{
		font-size: 0.8em;
	}
	#increase, #decrease{
		background-size: 15px auto;
    	height: 30px;
	}
	#player0points, #dealerpoints {
    	font-size: 0.75em;
	}
	.player-cont, .dealer-cont{
		height: 92%;
		font-size: 0.9em;
	}
	.player-det, .dealer-det{
		height: 78%;
		font-size: 1.1em
	}
	.card {
    	font-size: 1em;
	}
	#controlsArea input.button{
		float: left;
		margin-right: 0.2em;
		padding: 0.5em 0.7em;
	}
	#controlsArea input.button:last-child{
		margin-right: 0;
	}
	#controlsArea input#infos.btn, #controlsArea input#newgame.btn {
      background-size: 20px auto;
   	  width: 20px;
	}
	.front div{
		background-color: transparent;
		font-size: 0.8em;
	}
	.front div.index{
		font-size: 0.2em;
		left: 0.15em;
	}
	.face ~ div.spotA1 {
		font-size: 0.7em;
		left: 0.8em;
		top: 0.7em;
	}
	.face ~ div.spotC5 {
		font-size: 0.7em;
		left: auto;
		right: 0.35em;
		top: 5.8em;
	}
	.front div.ace {
		font-size: 170%;
		left: 0.45em;
		top: 1.2em;
	}
	.spotA1 { top: 1.5em; }
	.spotA2 { top: 2.5em; }
	.spotA3 { top: 3em; }
	.spotA4 { top: 3.5em; }
	.spotA5 { top: 4.5em; }
	
	.spotB1 { top: 1.5em; }
	.spotB2 { top: 2em; }
	.spotB3 { top: 3em; }
	.spotB4 { top: 4em; }
	.spotB5 { top: 4.5em; }
	
	.spotC1 { top: 1.5em; }
	.spotC2 { top: 2.5em; }
	.spotC3 { top: 3em; }
	.spotC4 { top: 3.5em; }
	.spotC5 { top: 4.5em; }
	
	#rulesBox1{
		height: 90%;
		width: 380px;
	}
}

@media only screen and (max-device-width : 400px){ 
	.content{
		font-size: 0.8em;
	}
	#controlsArea input#infos.btn, #controlsArea input#newgame.btn {
      background-size: 15px auto;
   	  width: 20px;
	}
}
@media (-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){ 
	#controlsArea input#infos.btn{
		background-image: url("../images/info@2x.png");
		
	}
	#controlsArea input#newgame.btn {
   	 	background-image: url("../images/new@2x.png");
	}
	.credits-def div.cred{
		background-image: url("../images/coins2@2x.png");
	}
	.credits-def div.defbet {
   		background-image: url("../images/default-bet@2x.png");

	}
	#increase {
    	background-image: url("../images/bet-up@2x.png");
	}
	#decrease {
    	background-image: url("../images/bet-down@2x.png");
	}
	.player-det .bett {
    	background-image: url("../images/coins@2x.png");
   }
}
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width : 1280px) {
	#controlsArea input#newgame.btn{
		background-image: url("../images/new@2x.png");
		background-size: 45px auto;
	}
	#controlsArea input#infos.btn{
		background-image: url("../images/info@2x.png");
		background-size: 45px auto;
	}
	#increase {
    	background-image: url("../images/bet-up@2x.png");
	}
	#decrease {
    	background-image: url("../images/bet-down@2x.png");
	}
}
@media (-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) and (max-device-width : 1024px) { 
	.credits-def div.cred{
		background-image: url("../images/coins2@2x.png");
		background-size: 26px auto;
	}
	.credits-def div.defbet {
   		background-image: url("../images/default-bet@2x.png");
   		background-size: 25px auto;
	}
	#controlsArea input#newgame.btn{
		background-image: url("../images/new@2x.png");
		background-size: 30px auto;
	}
	#controlsArea input#infos.btn{
		background-image: url("../images/info@2x.png");
		background-size: 30px auto;
	}
	.player-det .bett{
		background-size: 26px auto;
	}
	#increase, #decrease{
		background-size: 33px auto;
	}
}
@media (-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) and (max-device-width : 640px) { 
	#decrease{
		background-image: url("../images/bet-down@2x.png");
		background-size: 20px auto;
	}
	#increase{
		background-image: url("../images/bet-up@2x.png");
		background-size: 20px auto;
	}
	.credits-def div.cred {
		background-image: url("../images/coins2@2x.png");
		background-size: 20px auto;
	}
	.credits-def div.defbet {
		background-image: url("../images/default-bet@2x.png");
		background-size: 20px auto;
	}	
}
@media (-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) and (max-device-width : 480px) { 
	#decrease{
		background-image: url("../images/bet-down@2x.png");
		background-size: 20px auto;
	}
	#increase{
		background-image: url("../images/bet-up@2x.png");
		background-size: 20px auto;
	}
	.credits-def div.cred {
		background-image: url("../images/coins2@2x.png");
		background-size: 20px auto;
	}
	.credits-def div.defbet {
		background-image: url("../images/default-bet@2x.png");
		background-size: 20px auto;
	}	
	.player-det .bett{
		background-image: url("../images/coins@2x.png");
		background-size: 15px auto;
	}
}